body {
    background-color: rgb(253, 251, 251);
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: green;
    line-height: 120%;
}

#cabecalho {
    position: fixed;
    top: 0;
}

#minha_foto {
    width: 25%;
    padding-top: 80px;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
}

td,th {
    border: 1px solid black;
}

.lado-esquerdo, .lado-direito {
    width: 50%;
    float: left;
}